@tailwind base;
@tailwind components;
@tailwind utilities;
table{
  margin: 0 !important;
}
.qr{
  width: 500px !important;
  height: 500px !important;
}
/*adjust the size of the qr code based on the size of the screen*/
@media only screen and (max-width: 600px) {
  .qr{
    width: 300px !important;
    height: 300px !important;
  }
}